<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Website</title>

  <!-- Bootstrap CSS -->
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    
</head>
<body>


  <!-- Navbar -->
  
  <nav class="navbar navbar-expand-lg text-white py-3" style="background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Film House</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Movies</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Top Rated</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

    <!-- Main Content -->
<div class="container my-4">
  <h1 class="heading">Welcome to Film House!</h1>
  <p class="sub-heading">Explore the latest movies and TV shows, and discover new favorites to watch.</p>
  
  <section>
    <div class="album py-5 bg-container">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
          <% movielist.forEach((movie) => { %>
            <div class="col mb-4">
              <div class="card shadow-sm h-100">
                <img src=<%= movie.image %> class="card-img-top"/>
                <div class="card-body" style="background-color:lightskyblue">
                  <h5 class="card-title"><%= movie.title%></h5>
                  <div class="card-text-wrapper">
                    <p class="card-text"><%= movie.description%></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group mt-3">
                      <button type="button" class="btn btn-sm btn-design-price price-btn">Price</button>
                      <button type="button" class="btn btn-sm btn-design-price price-btn">₦<%= movie.price %></button>
                    </div>
                    <small class=" mt-3 text-muted">
                      <% let timeDiff = new Date() - new Date(movie.updatedAt); %>
                      <% let timeAgo; %>
                      <% if (timeDiff < 60000) { %>
                        <% timeAgo = `${Math.floor(Math.abs(timeDiff / 1000))} seconds ago`; %>
                      <% } else if (timeDiff < 3600000) { %>
                        <% timeAgo = `${Math.floor(Math.abs(timeDiff / 60000))} minutes ago`; %>
                      <% } else if (timeDiff < 86400000) { // If less than 24 hours %>
                        <% timeAgo = `${Math.floor(Math.abs(timeDiff / 3600000))} hours ago`; %>
                      <% } else if (timeDiff < 2592000000) { // If less than a month %>
                        <% timeAgo = `${Math.floor(Math.abs(timeDiff / 86400000))} days ago`; %>
                      <% } else { %>
                        <% timeAgo = `${Math.floor(Math.abs(timeDiff / 2592000000))} months ago`; %>
                      <% } %>
                      <%= timeAgo %>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </section>
  </div>



  <!-- Footer -->
  <style>
    /* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
} */
  </style>
  <style>
  .row .col-md-3:first-of-type {
    margin-bottom: 20px;
  }
  .row:first-child {
    margin-bottom: 30px;
  }

  .card-text {
  height: 100px; /* adjust this to fit your needs */
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: auto;
  max-height: 150px; /* set a fixed maximum height for the text */
}

.card-img-top {
  height: 200px; /* set a fixed height for the images */
  object-fit: cover; /* make sure the images maintain their aspect ratio */
}

.price-btn:hover {
  background-color:#007bff;
  color: #fff;
}

.card-body {
    margin-top: auto;
  }
  
  .btn-design-price {
    margin-top: 10px;
  }
  
  .text-muted {
    margin-top: 10px;
  }

  body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.heading{
  color: #fff;
}

.sub-heading{
  color: #fff;
}
.navbar-brand,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: white;
}

</style>

  <footer class="text-white text-center py-3 fixed-bottom" style="background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );">
    <p>Copyright © 2023
      Movie Website</p>
  </footer>

  <!-- Bootstrap JS -->
  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
  crossorigin="anonymous"
></script>


</body>
</html>



